<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>AdminHome</h1>
	<a href="newSong"><button style="border: 2px solid grey; background-color: Darkblue; color :white;font-size: 2rem">Add Song</button></a>
	<a href = "viewSongs"><button style="border: 2px solid grey; background-color: Darkblue; color :white;font-size: 2rem">View Songs</button></a>
	<a href = "createPlaylist"><button style="border: 2px solid grey; background-color: Darkblue; color :white;font-size: 2rem">Create Playlist</button></a>
	<a href = "viewPlaylists"><button style="border: 2px solid grey; background-color: Darkblue; color :white;font-size: 2rem">View all Playlist</button></a>
	<a href = "deletePlaylists"><button style="border: 2px solid grey; background-color: Darkblue; color :white;font-size: 2rem">Delete  Playlist</button></a>
	
</body>
</html>