<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>ADD SONG</h1>
	<br>
	<form action ="/addsong" method = "post">
	<label>Song Name :</label>
	<input type = "text" name="name" />
	<br>
	
	<label>Song Artist :</label>
	<input type = "text" name="artist" />
	<br>
	
	<label>Song Genere :</label>
	<input type = "text" name="genre" />
	<br>
	
	<label>Song Link :</label>
	<input type = "text" name="link" />
	<br>
	
	<input type="submit" value = "Add Song" />
	
	</form>
</body>
</html>